# Git
.git

# Environment files
.env
.env.local

# Data directories (databases, object storage, etc.)
data/

# Python
__pycache__/
.venv
*.egg-info/
.python-version
requirements.txt

# Airflow
airflow_settings.yaml
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db

# Astronomer
astro

# OS
.DS_Store
